h1 {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
}

a {
  color: rgb(43, 43, 43);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 12px;
}

div {
  margin: auto;
  width: max-content;
}
